.container {
  margin-top: 40px;
}

.error {
  margin-top: -10px;
  color: rgb(218, 33, 33);
  padding: .5em;
  display: inline-block;
  font-size: .9em;
  margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
}
