<div class="btn-toolbar" role="toolbar">
  <!-- add a button in the list of users that leads to a form in which to enter the data of the new user -->
  <div class="btn-group">
    <button class="btn btn-success" (click)="addUser()">Add User</button>
  </div>
  <!--  -->
</div>

<ul>
  <li *ngFor="let user of users">
    <img [src]="user.avatar" alt="img">
    <p>{{user.first_name}} {{user.last_name}}</p>
    <div class="detailsButton">
      <button class="btn btn-outline-primary btn-sm" (click)="userDetails(user.id)">Details</button>
    </div>
  </li>
</ul>
